name: CI pipeline

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: '>=1.24'

      - uses: arduino/setup-task@v2
        with:
          # version: 3.20 # 3.x is good enough
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: task test

      - if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          install-only: true

      - if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        uses: sigstore/cosign-installer@v4.0.0

      - if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec
            conventional-changelog-conventionalcommits

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: act10ns/slack@v2
        if: always()
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
